certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
Flask==1.1.2
Flask-Markdown==0.3
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
mypy==0.770
mypy-extensions==0.4.3
pycparser==2.20
PyJWT==1.7.1
requests==2.23.0
six==1.15.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
Werkzeug==1.0.1
