[Unit]
Description=Writes queries from Thumbsup query directory to database
After=network.target

[Service]
Type=oneshot
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/thumbsup
EnvironmentFile=/home/ubuntu/secrets/thumbsup.systemd.env
ExecStart=/home/ubuntu/thumbsup/.thumbsup/bin/python -m thumbsup.db write
